body{
    font-family: 'Space Mono';
    font-size: small;
    color: white;
    background-color: #524094;
    width: 100%;
}

header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2082A6;
}
header h1{
    position: relative;
    left: 45%;
}
header img{
    height: 30px;
    width: 30px;
}


#playing-against{
    border: 1px solid white;
    border-radius: 20%;
    width: 400px;
    height: 300px;
    background-color: #01efac;
    margin: 150px auto;
    padding: 2%;
    position: relative;
    right: 0.5%;
    top: 10%;
}
#select-title{
    position: relative;
    left: 33%;
    bottom: 5%;
    color: white;
}
#playing-against ul{
    position: relative;
    left: 40%;
}
#playing-against li{
    margin-top: 10px;
    display: block;
    position: relative;
    right: 27.5%;
    border: 1px solid white;
    border-radius: 20%;
    text-align: center;
    height: 100px;
    width: 200px;
    background-color: #01CBAE;
    list-style: none;
}
#playing-against li:hover {
    background-color: #2082A6;
}
#playing-against a{
    color: white;
    text-decoration: none;
}

#pacpu-h2 {
    text-align: center;
    position: relative;
    top: 7px;
}

footer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: #2082A6;
}